:root{
    /*Colores*/
    --blanco-1: #F8F8F8;
    --beige-1: #F2E3D5;
    --azul-1: #012E40;
    --azul-2: #024959;
    --azul-3: #026773;
    --azul-4: #3CA6A6;
    --celeste-1: #234459;
    --celeste-2: #3C7499;
    --celeste-3: #5AAEE6;
    --celeste-4: #94C1FF;

    /*Tamaño de texto*/
    --titulo: 4.3em;
    --subtitulo: 2.8em;
    --texto: 1.8em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
}

/*Header*/
header {
    background-color: var(--azul-1);
    height: 95px;
    border-bottom: var(--azul-2) 3px solid;
}

header .logo {
    padding: 35px 30px;
    font-weight: bold;
    font-size: var(--texto);
    color: var(--blanco-1);
    padding-left: 50px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

header a {
    padding: 0px 15px;
    text-decoration: none;
    color: var(--blanco-1);
}

header a:hover {
    color: var(--celeste-4);
}

/*Footer*/
footer {
    background-color: var(--azul-1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    padding: 3px;
    margin: 0;
    color: var(--blanco-1);
    text-align: center;
}